.learn-more {
    display: block;
    position: relative;
    color: oklch(21% 0.006 285.885);
    font-size: 1rem; 
    line-height: 1.4; 
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    width: fit-content;
    margin: 1.5rem auto 0;
    text-align: center;

}

.learn-more::before {
    content: '';
    position: absolute;
    left: -4px;
    right: -4px;
    bottom: -4px;
    height: 2px;
    background: oklch(21% 0.006 285.885);
    border-radius: 1.5px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.35s ease-out;
    -webkit-border-radius: 1.5px;
    -moz-border-radius: 1.5px;
    -ms-border-radius: 1.5px;
    -o-border-radius: 1.5px;
}


.learn-more:hover::before {
    transform: scaleX(1);
}
